<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Aulas</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-4">Lista de Aulas</h1>
    <a href="/aula/create" class="btn btn-primary mb-3">Crear Nueva Aula</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="aula : ${aulas}">
            <td th:text="${aula.idAula}"></td>
            <td th:text="${aula.nombreAula}"></td>
            <td>
                <a th:href="@{'/aula/edit/' + ${aula.idAula}}" class="btn btn-warning">Editar</a>
                <a th:href="@{'/aula/delete/' + ${aula.idAula}}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

</html>